@use "variables" as *;
@use "typography" as *;
@use "functions" as *;
@use "flex" as *;

/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.center {
  width: Percent(1440, 1440);
  margin: auto;
  background: pink;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* end of global */

/* home */

.sale {
  &__container {
    @include flex-row-center();
    height: 40px;
    text-align: center;
    position: relative;
    background-color: #f8f8f8;

    & h2 {
      color: #b479d9;
      display: inline-block;
    }

    & img {
      position: absolute;
      right: Percent(24, 1440);
    }
  }
}

.navigation {
  @include flex-row-between();
  width: Percent(1440, 1440);
  margin: 0 auto;
  padding-top: 40px;
  padding-left: Percent(38.39, 1440);
  padding-right: Percent(38.39, 1440);

  &__main {
    &-list {
      @include flex-row();

      &-item {
        & a {
          color: black;
          text-decoration: none;
          transition: all 0s ease 5s;

          &::after {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-left: 5px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            transform: rotate(135deg);
            animation-name: myAnimation2;
            animation-duration: 2s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate; /* reverse,alternate,alternate-reverse */
            animation-timing-function: linear; /* ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n) */
            animation-fill-mode: forwards; /* forwards, backwards, both */
          }

          @keyframes myAnimation2 {
            0% {
              opacity: 0;
            }
            20% {
              opacity: 0.2;
            }
            40% {
              opacity: 0.4;
              background: #000;
            }
            60% {
              opacity: 0.6;
            }
            80% {
              opacity: 0.8;
              background: yellow;
            }
            100% {
              opacity: 1;
            }
          }
        }

        &:hover,
        &--green {
          & a {
            color: #2ebb77;

            &::after {
              margin-left: 5px;
              border-top: 2px solid #2ebb77;
              border-right: 2px solid #2ebb77;
            }
          }
        }
        &:hover {
          & a {
            &::after {
              transform: rotate(270deg) scale(1.75);
            }
          }
        }
      }
    }
  }

  &__logo {
    width: Percent(160, 1363.22);
    margin: 0;

    & img {
      width: 100%;
      display: block;
    }
  }

  &__sidebar {
    display: flex;
    align-items: center;
    gap: 30px;

    &-item {
      border-radius: 12px;
      border: 2px solid #f4eefa;
      width: Percent(101, 1440);
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        display: block;
      }
    }
  }
}

.featured {
  width: Percent(1440, 1440);
  margin: 0 auto;
  padding-top: 100px;
  padding-left: Percent(38, 1440);
  padding-right: Percent(38, 1440);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: Percent(90, 1364);

  &__ad {
    width: Percent(491.04, 1364);
  }

  &__content {
    width: Percent(613.8, 1364);
  }

  &__rating {
    display: inline-block;
    border-radius: 40px;
    color: #b479d9;
    background-color: #f8f8f8;
    padding: 8px Percent(16, 613.8);
    margin-right: Percent(12, 613.8);
  }

  &__stars {
    display: inline-flex;
    gap: 4px;

    & li {
      display: inline-block;
    }
  }

  & h2 {
    margin-top: 30px;
    font-size: 48px;
    line-height: 56px;
  }

  &__paragraph {
    margin-top: 24px;
    color: #7e7e7e;
    line-height: 30px;
  }

  &__motives,
  &__motives-two {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: Percent(15, 613.8);

    & li {
      display: inline-block;
    }
  }

  &__tick {
    border-radius: 16px;
    background-color: #e2f5f2;
  }

  &__item {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: Percent(30, 613.8);
  }

  &__start {
    border-radius: 12px;
    background-color: #2ebb77;
    height: 56px;
    width: Percent(225, 613.8);
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      color: white;
    }
  }

  &__play {
    border-radius: 15px;
    border: 2px solid black;
    width: Percent(30, 613.8);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.design {
  width: 100%;
  margin-bottom: 93px;
  background: pink;

  &__title {
    width: 100%;
    height: 100px;
    @include font-style(
      72px,
      $purple-background,
      "arial",
      normal,
      LineHeight(72, 100),
      3px
    );
    padding-left: Percent(50);
    margin-bottom: 68px;
    overflow: hidden;
  }

  &__container {
    background-color: #b479d9;
  }

  &__promotion {
    display: inline-block;
    width: Percent(690, 1440); /* 690 */
    min-height: Rem(360);
    margin-right: Percent(30, 1440);
    border-radius: $border-radius;
    background: url(../images/promotional-banner-first.png) no-repeat left top;
    background-size: auto 100%;

    &--purple-bg {
      background: url(../images/promotional-banner-second.png) no-repeat left
        top;
      background-size: auto 100%;
      margin-right: 0;
    }
  }
}
.collections__products {
  position: relative;

  & h2 {
    width: percent(544, 1440);
    text-align: center;
    padding-top: 30px;
  }

  & p {
    width: percent(259, 1440);
    text-align: center;
    padding-top: 16px;
    color: #7e7e7e;
  }
}

.collections__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: Percent(30, 1440);
  padding-top: 78px;

  &__item {
    width: Percent(210, 1440);
    height: Percent(210, 1440);
    border-radius: 105px;
    position: relative;
  }

  & span {
    color: #7e7e7e;
  }
}

.types {
  width: 100%;

  &__list {
    display: flex;
    gap: 2.083%;
    padding-left: 209px;
    padding-top: 101px;

    & img {
      width: 337px; // backfound ვერ გავაკეთე :)
    }
  }
}

/* end of home */
