@mixin flex-row() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 30px;
}

@mixin flex-row-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 30px;
  justify-content: center;
}
