// ფერები
$primary-color: #2ebb77;
$grey-background: #F8F8F8;
$purple-background: #B479D9;
$text-color: #7e7e7e;
$title-color: #000;
$hot-deals-color: #F09155;

// ფონტის ზომები
$font-lg: 48px;
$font-md: 40px;
$font-sm: 20px;
$font-ssm: 18px;


// spacing
$spacing-md: 16px;

//border
$border-radius:12px;
